// 存放 scss 全局变量, 注意: 定义变量时前缀加入_防止与自定义主题冲突

/* 布局尺寸相关 */
$_xs: 0;
$_sm: 456px;
$_md: 789px;
$_lg: 999px;
$_xl: 1234px;

/* 行为相关颜色 */
$_color-primary: #007aff;
$_color-success: #4cd964;
$_color-warning: #f0ad4e;
$_color-error: #dd524d;

/* 文字基本颜色 */
$_text-color:#333;//基本色
$_text-color-inverse:#fff;//反色
$_text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$_text-color-placeholder: #808080;
$_text-color-disable:#c0c0c0;

/* 背景颜色 */
$_bg-color:#ffffff;
$_bg-color-grey:#f8f8f8;
$_bg-color-hover:#f1f1f1;//点击状态颜色
$_bg-color-mask:rgba(8, 6, 6, 0.4);//遮罩颜色

/* 边框颜色 */
$_border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$_font-size-sm:12px;
$_font-size-base:14px;
$_font-size-lg:16px;

/* 图片尺寸 */
$_img-size-sm:20px;
$_img-size-base:26px;
$_img-size-lg:40px;

/* Border Radius */
$_border-radius-sm: 2px;
$_border-radius-base: 3px;
$_border-radius-lg: 6px;
$_border-radius-circle: 50%;

/* 水平间距 */
$_spacing-row-sm: 5px;
$_spacing-row-base: 10px;
$_spacing-row-lg: 15px;

/* 垂直间距 */
$_spacing-col-sm: 4px;
$_spacing-col-base: 8px;
$_spacing-col-lg: 12px;

/* 透明度 */
$_opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$_color-title: #2C405A; // 文章标题颜色
$_font-size-title:20px;
$_color-subtitle: #555555; // 二级标题颜色
$_font-size-subtitle:18px;
$_color-paragraph: #3F536E; // 文章段落颜色
$_font-size-paragraph:15px;